<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="FootballInfoSystem.Properties.Settings.FootballSystemDatabaseConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=FootballSystemDatabase;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="FootballSystemDatabaseEntities" connectionString="metadata=res://*/FootballSystemModel.csdl|res://*/FootballSystemModel.ssdl|res://*/FootballSystemModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=FootballSystemDatabase;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>